<div class="wrapper-new">
  <div class="wrapper-page-new-bloom">
    <div class="col-xs-3 new-bloomer-left">
      <div class="steps">
        <h1>créez votre programme</h1>
        <!-- STEP 1 - Création -->
        <div class="nb-global-step active" data-target="#step-1-name">
          <div class="circle active" data-target="#step-1-name"></div>
          <div class="step"><p><span>étape 1</span><br>Création</p></div>
        </div>
        <!-- Step 2 - Description -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-2-description">
          <div class="circle" id="circle-2"></div>
          <div class="step"><p><span>étape 2</span><br>Détails</p></div>
        </div>
        <!-- Step 3 - info pratiques -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-3-infos">
          <div class="circle" id="circle-3"></div>
          <div class="step"><p><span>étape 3</span><br>Description</p></div>
        </div>
        <!-- Step 4 - Medias -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-4-medias">
          <div class="circle" id="circle-4"></div>
          <div class="step"><p><span>étape 4</span><br>Sélection</p></div>
        </div>
      </div>
    </div>

    <div class="col-xs-9 new-bloomer-right">
      <!-- Begining of simple form -->
      <div class="sub-new-bloomer-content" id="step-1-name">
        <%= simple_form_for [@bloomer, @program] do |f| %>
        <%= f.error_notification %>
        <%= f.association :bloomer, collection: @bloomers %>
        <%= f.input :name, label: 'Nom du programme' %>
        <div class="nb-next-button" id="nb-next-button-1"><h4><span>SUIVANT</span> </h4></div>
      </div>
      <!-- MAIN DESCRIPTION -->
      <div class="sub-new-bloomer-content hidden" id="step-2-description">
        <div class="nb-title-sub-content"><h2>Détails du programme</h2></div>
        <div class="nb-sub-content">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :duration %>
            <div class="row">
              <div class="col-xs-6">
                  <%= f.input :candidature_open, as: :string, input_html: {class: "datepicker-candidature"}%>
              </div>
              <div class="col-xs-6">
                  <%= f.input :candidature_close, as: :string, input_html: {class: "datepicker-candidature"}%>
              </div>
            </div>
            <%= f.input :short_description  %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :price %>
            <%= f.input :equity, as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :description %>
            <div class="nb-next-button" id="nb-next-button-2"><h4><span>SUIVANT</span> ></h4></div>
          </div>
        </div>
      </div>
      <!-- INFO -->
      <div class="sub-new-bloomer-content hidden" id="step-3-infos">
        <div class="nb-title-sub-content"><h2>Le coaching</h2></div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :individual_coaching, :input_html => {:style=> 'height: 300px'} %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :collective_coachin, :input_html => {:style=> 'height: 300px'}%>
          <div class="nb-next-button" id="nb-next-button-3"><h4><span>SUIVANT</span> ></h4></div>
        </div>
      </div>
      <!-- SOCIAL MEDIAS -->
      <div class="sub-new-bloomer-content hidden" id="step-4-medias">
        <div class="nb-title-sub-content"><h2>Réseaux sociaux</h2></div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :ecosystem %>
          <%= f.input :advantages %>

        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :selection_criterias %>
          <span class="nb-next-button"><%= f.button :submit, "Je crée le programme !" %></span>
          <% end %>
        </div>
        <!-- SUBMIT -->

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
$(".nb-global-step").on("click", function(e){
// Change active tab
$(".nb-global-step").removeClass("active");
$(".circle").removeClass("active");
$(this).addClass("active");
$(this).children().addClass("active");
// Hide all tab-content (use class="hidden")
$(".sub-new-bloomer-content").addClass("hidden");
// Show target tab-content (use class="hidden")
tabSelector = $(this).data("target");
$(tabSelector).removeClass("hidden");
});

// STEP 1 TO STEP 2
$("#nb-next-button-1").on("click", function(e){
$(".nb-global-step").removeClass("active");
$(".circle").removeClass("active");
$("#circle-2").addClass("active");
$(".sub-new-bloomer-content").addClass("hidden");
$("#step-2-description").removeClass("hidden");
});

// STEP 2 TO STEP 3
$("#nb-next-button-2").on("click", function(e){
$(".nb-global-step").removeClass("active");
$(".circle").removeClass("active");
$("#circle-3").addClass("active");
$(".sub-new-bloomer-content").addClass("hidden");
$("#step-3-infos").removeClass("hidden");
});

// STEP 3 TO STEP 4
$("#nb-next-button-3").on("click", function(e){
$(".nb-global-step").removeClass("active");
$(".circle").removeClass("active");
$("#circle-4").addClass("active");
$(".sub-new-bloomer-content").addClass("hidden");
$("#step-4-medias").removeClass("hidden");
});
});

<% end %>
<% end %>

