<div class="container">
  <div class="row">
    <div class="text-center-candidature">
      <h2><%= @candidature.startup.name %></h2>
    </div>
    <div class="col-sm-6">
      <div class="box-candidature">
        <h3>Your Problem</h3>
        <h4><%= @candidature.your_problem %></h4>
      </div>
      <div class="box-candidature">
        <h3>  Your Market</h3>
        <h4><%= @candidature.your_market %></h4>
      </div>
      <div class="box-candidature">
        <h3>  Your Solution</h3>
        <h4><%= @candidature.your_solution %></h4>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box-candidature">
        <h3>  Your question to the incubator</h3>
        <h4><%= @candidature.question_incubation %></h4>
      </div>
      <div class="box-candidature">
        <h3>  Your Team</h3>
        <h4><%= @candidature.team %></h4>
      </div>
      <div class="box-candidature">
        <h3>Status</h3>
        <h4><%= @candidature.status %></h4>
      </div>
    </div>
  </div>
</div>
