<div class="navbar-bloomer">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-bloomer-brand" do %>
  <%= image_tag "pictojaune.png" %>
  <% end %>
  <!-- Right Navigation -->
        <div class="navbar-bloomer-right hidden-xs hidden-sm">
          <!-- Les Bloomers -->
          <div class="navbar-bloomer-item">
            <div class="dropdown">
             <p class="navbar-bloomer-link dropdown-toggle", id="navbar-bloomer-menu", data-toggle="dropdown"> Découvrir </p>
             <ul class="dropdown-menu navbar-bloomer-link dropdown-menu-right navbar-bloomer-dropdown-menu">
              <li>
                <%= link_to "La Carte", map_path %>
              </li>
              <li>
               <%= link_to "Les Bloomers", bloomers_path %>
             </li>
           </ul>
         </div>
       </div>
     <!-- Different navigation if login or not -->
     <% if user_signed_in? %>
        <!-- Admin -->
       <%  if current_user.admin? %>
          <p class="navbar-bloomer-item"> <%= link_to "Interface Administrateur",  admin_root_path %> </p>
      <!-- Bloomer Admin -->
      <%  elsif current_user.bloomer_admin? %>
          <% if current_user.bloomers.count == 0 %>
          <p class="navbar-bloomer-item"> <%= link_to "Je crée mon profil bloomer",  dashboard_startup_path %> </p>
          <% else %>
          <p class="navbar-bloomer-item"> <%= link_to "Voir mon profil bloomer", dashboard_path %> </p>
          <% end %>
      <!-- Startup_Admin -->
      <%  elsif current_user.startup_admin? %>
           <% if current_user.startups.count == 0 %>
          <p class="navbar-bloomer-item"> <%= link_to "Je crée mon profil startup",  new_startup_path %> </p>
          <% else %>
          <p class="navbar-bloomer-item"> <%= link_to "Voir mon profil startup", startup_dashboard_path %> </p>
          <% end %>
      <% end %>
          <%= link_to destroy_user_session_path, class: "navbar-bloomer-item navbar-bloomer-link", method: :delete do %>
          <%= t(".sign_out", default: "Déconnexion") %>
          <% end %>
    <% else%>
        <div class="navbar-bloomer-item">
          <%= link_to "Connexion", new_user_session_path, class: "navbar-bloomer-item navbar-bloomer-link" %>
        </div>
        <div class="navbar-bloomer-item">
          <%= link_to "Inscription",new_user_registration_path, class: "navbar-bloomer-item navbar-bloomer-link" %>
        </div>
    <% end %>

      </div>
    </div>
</div>

<!-- Dropdown list appearing on mobile only -->
<div class="navbar-bloomer-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-bloomer-dropdown-menu">
      <li><a href="#">Some mobile link</a></li>
      <li><a href="#">Other one</a></li>
      <li><a href="#">Other one</a></li>
    </ul>
  </div>
</div>

<!-- Notification --><!-- Notification -->
<!-- <#%= link_to "#", class: "navbar-bloomer-item navbar-bloomer-link" do %>
<div class="badge-container">
<i class="fa fa-commenting-o" aria-hidden="true"></i>
<div class="badge badge-blue">2</div>
</div>
<#% end %> -->
