<div class="bloomer_index">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-index">
        <div class="row">
          <h3> RECHERCHER </h3>
            <div class="col-md-4">
              <h4>Catégories</h4>
              <%= simple_form_for(:search, url: bloomers_path, method: :get) do |f| %>
              <%= f.error_notification %>
              <%= f.input :category, as: :check_boxes, collection: Bloomer::CATEGORIES, label: 'Choisissez une catégorie'  %>
            </div>
            <div class="col-md-4">
              <h4>Location</h4>
              <%= f.input :city, label: 'Ville' %>
            </div>
            <div class="col-md-4">
              <h4>Spécialité</h4>
              <%= f.input :speciality, collection: @specialities, label: 'Entrez les spécialités' %>
            </div>
              <span class="nb-next-button"><%= f.button :submit, "Go !" %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
        <div class="wrapper-index text-center">
          <h3> Les résultats </h3>

        <div class="container">
        <div class="row">
          <% @bloomers.each do |bloomer| %>
          <div class="col-md-4">
            <%= link_to bloomer_path(bloomer), method: :get do %>
           <div class="card">
                <figure class="effect-zoe" style="background-image: url('<%= image_path('5.jpg')%>');">
                  <div class="test"> <h3>LA <span> MUTINERIE</span></h3></div>
                  <figcaption>
                    <div class="row more-details">
                      <div class="col-xs-6">
                        <p> Co-Working </p>
                      </div>
                      <div class="col-xs-6">
                        <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <p> Mode Retail </p>
                      </div>
                      <div class="col-xs-6">
                        <p class="icon-links">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </p>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LINK FROM CARDS TO FIRST BLOOMER FOR DEMO -->

<!--  <#% content_for(:after_js) do %>
 <script>

   $('.card').on('click', function(event) {
     window.location.href="/bloomers/1"
   });

 </script>
 <#% end %>

 -->






