<div class="wrapper-header-index">

  <div class="row header">

    <%= image_tag "pacman.png", class:"icon-index" %>
    <h1> Trouve l'incubateur qu'il te faut </h1>

    <div class="yellow-underline"></div>

  </div>

  <div class="row search">

    <%= simple_form_for(:search, url: bloomers_path, method: :get) do |f| %>
    <div id="choice-box">
      <div class="city-box">
        <%= image_tag "placeholder.png" %>
        <h4> Ville </h4>
      </div>
      <div id="city-choice">
      <%= f.input :city, as: :check_boxes, collection: @cities, label: false, checked: @cities %>
      </div>

      <div class="speciality-box">
        <h4 id="speciality"> Spécialité </h4>
      </div>
      <div id="speciality-choice">
        <% if @specialities.present? %>
        <%= f.input :speciality, as: :check_boxes, collection: @specialities, label: false, include_blank: true, checked: @specialities %>
        <% else %>
        <%= @selected_speciality || "Pas de spécialité" %>
        <% end %>
      </div>
    </div>
    <div class="search-box">
      <%= image_tag "search.png", style:"width:15px" %>
      <%= f.button :submit, "Rechercher", class:"btn-search" %>
    </div>
    <% end %>

  </div>

</div>


<div class="wrapper-content-index" style="background-color:#F9F9F9">


  <div class="row">

    <div class="col-xs-12 col-sm-7">
      <% @bloomers.each do |bloomer| %>
      <%= link_to bloomer_path(bloomer) do %>
      <div class="row bloomer-card">

        <div class="col-xs-4" style="padding: 0;">
          <div class="bloomer-card-image" style="background-image: url('<% if bloomer.photos? %><%= cl_image_path(bloomer.photos.last.path, :crop => :crop)%> <% else %> <%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%> <% end %>');">

          </div>
        </div>

        <div class="col-xs-2" style="padding: 30px 10px;">
         <!--  <div class="bloomer-logo"> -->
          <% if bloomer.logo? %><%= cl_image_tag(bloomer.logo.path, :crop => :crop)%>
          <% else %>
          <%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%>
          <% end %>
          <!-- </div> -->
        </div>

        <div class="col-sm-6">
          <h4><span class="yellow-underline"><%= bloomer.name %></span></h4>
          <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= bloomer.city %>
          <i class="fa fa-hashtag" aria-hidden="true" style="margin-left:20px"></i> <%= bloomer.speciality %></p>
          <div class="programs-box">
            <% if bloomer.programs.count == 0 %>
              <h5><span class="program-name">Pas encore de programme</span></h5>
            <% end %>
            <% bloomer.programs.each do |program| %>
              <div class="program-box">
                <h5><span class="program-name"><%= program.name %> : </span>
                <% if program.candidature_close? %>
                 Il reste <span class="color-yellow"><b><%= (Date.today - program.candidature_close).to_i %> jours</span></b> pour candidater
                <% end %></h5>
              </div>
            <% end %>
          </div>
        </div>

      </div>
      <% end %>
      <% end %>
    </div>
    <div class="hidden-xs col-sm-5">
      <div id="map" style="width: 100%; height: 80vh"></div>


    </div>

  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.speciality-box').on("click", function(){
      $('#city-choice').css({"display":"none"});

      if ($('#speciality-choice').css("display") == "block") {
        $('#speciality-choice').css({"display":"none"});
      }
      else {
        $('#speciality-choice').css({"display":"block"});
      }
    });

    $('.city-box').on("click", function(){
      $('#speciality-choice').css({"display":"none"});
      if ($('#city-choice').css("display") == "block") {
        $('#city-choice').css({"display":"none"});
      }
      else {
        $('#city-choice').css({"display":"block"});
      }
    })

    $(document).ready(function() {
    var centerlocation = {lat: 47.7529067, lng: 1.671169};
    var setzoomvariable = 5;
    var mapStyle = [
      {"featureType": "landscape.natural",
      "elementType": "geometry.fill",
      "stylers": [{
      "visibility": "on"},
      {"color": "#e0efef"
      }]},
      {"featureType": "poi",
      "elementType": "geometry.fill",
      "stylers": [
      {"visibility": "on"
      },
      {"hue": "#1900ff"
      },
      {"color": "#c0e8e8"
      }]},
      {"featureType": "road", "elementType": "geometry", "stylers": [
        {"lightness": 100},
        {"visibility": "simplified"}]},
      {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
        {
        "visibility": "off"
      }]},
      {
        "featureType": "road.local",
        "elementType": "labels.text",
        "stylers": [
        {
        "visibility": "on"
      }]},
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
        {
        "visibility": "on"
      },
      {
        "lightness": 700
      }]},
      {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
        {
        "color": "#7dcdcd"
      }]}];

    var handler = Gmaps.build('Google');
    handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn(centerlocation);
        handler.getMap().setZoom(setzoomvariable);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
      });
    });

  <% end %>
<% end %>


