<div class="wrapper-bloomer-show">
  <div class="container">

    <div class="row">
      <div class="col-xs-2" id="logo-bloomer">
        <% if @bloomer.logo? %><%= cl_image_tag(@bloomer.logo.path, :crop => :crop)%>
        <% else %>
        <%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%>
        <% end %>

      </div>
      <div class="col-xs-10">
        <div class="row title">
          <h1><%= @bloomer.name.upcase %></h1>
        </div>
        <div class="row">
         <h2 class="second-title">Ajouter une courte description </h2>
        </div>
        <div class="row sub-titles">
          <div class="col-xs-12" style="padding-left:0">
            <a class="sub-title tab active" data-target="#main-bloomer-info">INFO</a>
            <a class="sub-title tab" data-target="#entrepreneurs">PROGRAMMES <span>(<%= @bloomer.programs.count %>)</span></a>
            <a class="sub-title tab" data-target="#reviews">AVIS <span>(<%= @bloomer.reviews.count %>)</span></a>
            <a class="sub-title tab hidden" data-target="#entreprises">ENTREPRISES</a>
          </div>
        </div>
      </div>
    </div>

    <div id="main-bloomer-info" class="sub-content">
      <div class="row" style="height:200px;">
        <div class="col-xs-3 height-100percent">
          <div class="info-box show-box height-100percent">
            <h2><i class="fa fa-hand-o-right margin-right-8px" aria-hidden="true"></i> STRUCTURE</h2>
            <h3 class="color-green"><%= @bloomer.category.capitalize %></h3>
            <h2><i class="fa fa-tags margin-right-8px" aria-hidden="true"></i> SPÉCIALISATION</h2>
            <h3 class="color-pink"><%= @bloomer.speciality.capitalize %></h3>
            <h2><i class="fa fa-calendar-o margin-right-8px" aria-hidden="true"></i> CREATION</h2>
            <h3 class="color-orange"><%= @bloomer.date_creation.strftime('%B %Y') %></h3>
          </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="col-xs-3 height-100percent">
          <div class="show-box height-100percent">
            <h2>DESCRIPTION</h2>
            <p><%= @bloomer.description %></p>
          </div>
        </div>
        <!-- MODAL STARTUPS -->
        <%= render 'shared/modal_startups_bloomer_view', bloomer: @bloomer %>
        <!-- STARTUPS -->
        <div class="col-xs-3 height-100percent">
          <div class="startups-box show-box height-100percent">
            <h2>NO<% if @bloomer.startups.count >1 %>S<% else %>TRE<% end %> <%= @bloomer.startups.count %> STARTUP<% if @bloomer.startups.count > 1%>S<% end %></h2>
            <% if @bloomer.startups.count > 0 %>
            <div class="logo-startups-box margin-top-5px">
              <% startups = @bloomer.startups.shuffle %>
              <!-- STARTUP 1 -->
              <% if startups[0].logo? %>
              <%= cl_image_tag startups[0].logo.path, class:"margin-right-20px" %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[1].logo? %>
              <%= cl_image_tag startups[1].logo.path %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[2].logo? %>
              <%= cl_image_tag startups[2].logo.path, class:"margin-right-20px"  %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[3].logo? %>
              <%= cl_image_tag startups[3].logo.path %>
              <% end %>
            </div>
            <%= link_to "#", data:{toggle: "modal", target: "#modal-startups-view-bloomer"} do %>
            <h4>Voir +</h4>
            <% end %>
            <% end %>
          </div>


        </div>
        <div class="col-xs-3 height-100percent">
          <div class="info-box show-box height-100percent">
            <h2><i class="fa fa-globe margin-right-8px" aria-hidden="true"></i>SITE INTERNET</h2>
            <h3><a href="http://<%= @bloomer.website %>" class="color-green"><%= @bloomer.website %></a></h3>
            <h2><i class="fa fa-map-marker margin-right-8px" aria-hidden="true"></i>COORDONNÉES</h2>
            <h3 class="color-pink"><%= @bloomer.address %></h3>
            <h2>CONTACTEZ-LES</h2>
            <h3 class="contact-box"><a href="mailto:<%= @bloomer.email %>" target="_blank">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="<%= @bloomer.twitter_account %>" target="_blank">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="<%= @bloomer.twitter_account %>" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a></h3>

          </div>
        </div>

      </div>

      <%= render 'shared/modal_photos_view_bloomer', bloomer: @bloomer %>
      <div class="row photo">
        <%= link_to "#", data: {toggle: "modal", target: "#modal-photos-view-bloomer"} do %>
        <div class="col-xs-12 photo-bloomer">
          <div class="bg-hover-blue">
            <h3><span>+ de photos</span></h3>
          </div>
          <% @bloomer.photos.limit(3).each do |photo| %>
            <% if @bloomer.photos? %>
            <%= cl_image_tag photo.path %>
            <% else %>
            <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg">
            <% end %>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>

    <div id="entrepreneurs" class="sub-content hidden">
      <div class="row program-titles">
        <div class="col-xs-12">
          <a class="program-title tab active" data-target="#program-one">
            <% if @first_program.present? %>
              1. <%= @first_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-two">
            <% if @second_program.present? %>
              2. <%= @second_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-three">
            <% if @third_program.present? %>
              3. <%= @third_program.name %>
            <% end %>
          </a>
        </div>
      </div>
      <div class="row">


      </div>

      <div class="row">

      </div>

    </div>

    <div id="reviews" class="sub-content hidden">
      <div class="row">
        <div class="col-xs-12 reviews-bloomers">
          <div class="reviews-startups">
            <div class="col-xs-2 logo-review">
              <% if @bloomer.logo? %><%= cl_image_tag(@bloomer.logo.path, :crop => :crop)%>
              <% else %>
              <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="logo">
              <% end %>
            </div>
            <div class="col-xs-10">
              <% @bloomer.reviews.each do |review| %>
              <% if @bloomer.reviews.count == 0 %>
              <h4> Les startups qui sont passées par cet incubateur n'ont pas encore donné leur avis ! </h4>
              <% else %>
              <h4><%= review.title %> <% review.rating.times do %> <i class="fa fa-star" style="color:#C9DDE1; font-size:18px"></i> <% end %></h4>
              <p><%= review.description %></p>
              <% end %>
              <% end %>
            </div>
          </div>
       </div>
      </div>
      <div class="row put-your-review">
            <h4> Vous êtes passés chez <strong> <%= @bloomer.name %> </strong> ? Votre avis nous intéresse ! </h4>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 new-review" style="color:#04677D">
              <%= simple_form_for [@bloomer, @review] do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :rating, collection: [1,2,3,4,5] %>
              <%= f.submit "add a review", class: "btn btn-primary" %>
              <% end %>
            </div>
      </div>
    </div>
    </div>
    </div>
  </div>

