<div class="banner-bloomer" style="background-image: /*linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),*/url('<% if @bloomer.photos? %><%= cl_image_path(@bloomer.photos.last.path, :crop => :crop)%><% else %><%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%> <% end %>'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
</div>

<!--  TITLE & TABS SELECTOR-->
<div class="wrapper-show-bloomer">
  <div class="container">
    <div class="row title">
      <div class="col-xs-9">
        <h1><%= @bloomer.name.upcase %></h1>
      </div>
      <div class="col-xs-3">
        <h4><span class="show-social-medias-button">
          <a href="<%= @bloomer.twitter_account %>" target="_blank">
            <i class="fa fa-star" aria-hidden="true"></i>
          </a>
          <a href="mailto:<%= @bloomer.email %>" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a href="<%= @bloomer.twitter_account %>" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="<%= @bloomer.twitter_account %>" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </span></h4>
        <h3><a href="http://<%= @bloomer.website %>" target="_blank">
          visit the website
        </a></h3>
      </div>
    </div>
    <div class="row sub-titles">
      <div class="col-xs-12">
        <a class="sub-title tab active" data-target="#main-bloomer-info">INFO</a>
        <a class="sub-title tab" data-target="#entrepreneurs">ENTREPRENEURS</a>
        <a class="sub-title tab" data-target="#entreprises">ENTREPRISES</a>
      </div>
    </div>
  </div>
</div>

<!-- PAGE INFO -->
<div id="main-bloomer-info" class="sub-content" style="margin:0px;padding:0px">
  <!-- ROW 1 : main info + description -->
  <div class="wrapper-show-bloomer">
    <div class="container">
      <!-- First Line -->
      <div class="row">
        <!-- colonne 1 -->
        <div class="col-xs-12 col-sm-6">
          <div class="container-second">
            <div class="row-main-info">
              <div class="col-xs-12 col-md-6">
                <div class="div-main-info">
                  <h2>STRUCTURE</h2>
                  <h3><%= @bloomer.category.upcase %></h3>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="div-main-info">
                  <h2>SPECIALISATION</h2>
                  <h3><%= @bloomer.speciality.upcase %></h3>
                </div>
              </div>
            </div>
            <div class="row-main-info">
              <div class="col-xs-12 col-md-6">
                <div class="div-main-info">
                  <h2>NOS STARTUPS</h2>
                  <h3><%= @bloomer.startups.count %></h3>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="div-main-info">
                  <h2>CREATION</h2>
                  <h3><%= @bloomer.date_creation %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- colonne 2 -->
        <div class="col-xs-12 col-sm-6">
          <div class="container-second">
            <div class="div-description">
              <p><%= @bloomer.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROW 2 : VIDEOS & STARTUPS -->
  <div class="wrapper-show-bloomer">
    <div class="container">
      <div class="row">
        <!-- en vidéo -->
        <div class="col-xs-12 col-sm-6">
          <h3>EN VIDEO (to do)</h3>
          <div class="div-content-white">
            <div class="col-xs-8" style="margin:0; padding:0">
              <img src="http://www.roadtovr.com/wp-content/uploads/2015/03/youtube-logo2.jpg" alt="video 1" class="big-video">
            </div>
            <div class="col-xs-4 small-videos">
              <img src="http://www.roadtovr.com/wp-content/uploads/2015/03/youtube-logo2.jpg" alt="video 2" class="small-video">
              <img src="http://www.roadtovr.com/wp-content/uploads/2015/03/youtube-logo2.jpg" alt="video 3" class="small-video">
            </div>
          </div>
        </div>
        <!-- Startups -->
        <div class="col-xs-12 col-sm-6">
          <h3>LES STARTUPS (<%= @bloomer.startups.count%>)</h3>
          <div class="div-content-white">
            <div class="div-startups-card">
              <% if @three_random_startups[0].present? %>
              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <% if @three_random_startups[0].logo? %>
                  <%= cl_image_tag @three_random_startups[0].logo.path, crop: :fill, class: "avatar" %>
                <% else %>
                <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                <% end %>
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px">
                  <h2><%= @three_random_startups[0].name %></h2>
                  <h3><%= @three_random_startups[0].short_description %></h3>
                  <h4><%= @three_random_startups[0].batches.first.name %>?</h4>
              </div>
              <% end %>
            </div>
            <div class="div-startups-card">
              <% if @three_random_startups[1].present? %>
              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <% if @three_random_startups[1].logo? %>
                  <%= cl_image_tag @three_random_startups[1].logo.path, crop: :fill, class: "avatar" %>
                <% else %>
                <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                <% end %>
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px">
                  <h2><%= @three_random_startups[1].name %></h2>
                  <h3><%= @three_random_startups[1].short_description %></h3>
                  <h4><%= @three_random_startups[1].batches.first.name %>?</h4>
              </div>
              <% end %>
            </div>
            <div class="div-startups-card">
              <% if @three_random_startups[2].present? %>
              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <% if @three_random_startups[2].logo? %>
                <%= cl_image_tag @three_random_startups[2].logo.path, crop: :fill, class: "avatar" %>
                <% else %>
                <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                <% end %>
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px">
                <h2><%= @three_random_startups[2].name %></h2>
                <h3><%= @three_random_startups[2].short_description %></h3>
                <h4><%= @three_random_startups[2].batches.first.name %>?</h4>
              </div>
              <% end %>
            </div>
            <div class="div-startups-card">
              <div class="card-team">
                <h4 style="text-align:center">Découvrez les <br>autres startups +</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROW 3 : main info + description -->
  <div class="wrapper-show-bloomer">
    <div class="container">
      <!-- First Line -->
      <div class="row">
        <!-- colonne 1 -->
        <div class="col-xs-12 col-sm-6">
          <h3>L'EQUIPE ENCADRANTE</h3>
          <!-- les membres de l'équipe -->
          <div class="div-content-white">
            <!--  Une carte équipe -->
            <div class="div-startups-card">
              <!--  Une carte équipe -->
              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdzAAAAJDliYjg0Y2JjLTNhOGYtNGFkYi05Y2ZhLWU5NzU0NzU3MjllMw.jpg" class="avatar">
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px 0px 0px 10px">
                <h2>Pierre Méric</h2>
                <h3>STARTUP MANAGER</h3>
                <h4><i class="fa fa-envelope" aria-hidden="true"></i> <i class="fa fa-linkedin-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i></h4>
              </div>
            </div>
            <div class="div-startups-card">
              <!--  Une carte équipe -->

              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdzAAAAJDliYjg0Y2JjLTNhOGYtNGFkYi05Y2ZhLWU5NzU0NzU3MjllMw.jpg" class="avatar">
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px 0px 0px 10px">
                <h2>Pierre Méric</h2>
                <h3>STARTUP MANAGER</h3>
                <h4><i class="fa fa-envelope" aria-hidden="true"></i> <i class="fa fa-linkedin-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i></h4>
              </div>

            </div>
            <div class="div-startups-card">
              <!--  Une carte équipe -->

              <div class="col-xs-12 col-sm-4" style="padding:0px">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdzAAAAJDliYjg0Y2JjLTNhOGYtNGFkYi05Y2ZhLWU5NzU0NzU3MjllMw.jpg" class="avatar">
              </div>
              <div class="col-xs-12 col-md-8" style="padding:0px 0px 0px 10px">
                <h2>Pierre Méric</h2>
                <h3>STARTUP MANAGER</h3>
                <h4><i class="fa fa-envelope" aria-hidden="true"></i> <i class="fa fa-linkedin-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i></h4>
              </div>

            </div>
            <!--  Une carte équipe -->
            <div class="col-xs-12 col-md-6">
              <div class="card-team">
                <h4>Plus d'info +</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- colonne 2 -->
        <div class="col-xs-12 col-sm-6">
          <h3>EVENEMENTS</h3>
          <div class="container-second" id="flex-center">
            <div class="div-event">
              <div class="col-xs-4">
                <div class="photo-event" style="background-image: url('http://pepseo.fr/wp-content/uploads/2015/04/Event-management.png'); background-size:cover"></div>
              </div>
              <div class="col-xs-8">
                <h2>EVent</h2>
                <h3>hello</h3>
                <h4>Book here</h4>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROW 4 : PHOTO + PLACE INFO -->
  <div class="wrapper-show-bloomer">
    <div class="container">
      <div class="row">
        <!-- en photo -->
        <div class="col-xs-12 col-sm-6">
          <h3>VISITEZ NOS LOCAUX</h3>
          <div class="div-content-white">
            <div class="col-xs-8" style="margin:0; padding:0">
              <% if @bloomer.photos? %>
                <%= cl_image_tag @bloomer.photos.last.path, crop: :fill, class: "big-video" %>
              <% else %>
                <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="photo 1" class="big-video">
              <% end %>
            </div>
            <div class="col-xs-4 small-videos">
              <% if @bloomer.photos? %>
                <% @bloomer.photos.each do |photo| %>
                <%= cl_image_tag photo.path, crop: :fill, class: "small-video" %>
                <% end %>
              <% else %>
                <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="photo 2" class="small-video">
                <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="photo 3" class="small-video">
              <% end %>
            </div>
          </div>
        </div>
        <!-- local info -->
        <div class="col-xs-12 col-sm-6">
          <h3>QUELQUES INFOS</h3>
          <div class="div-content-white">
            <div class="div-description">
              <p>Des locaux inspirants en plein coeur du siège de Showroomprivé.
                <br>3 salles de meeting
                <br>1 imprimante 3D…
                <br>dans un espace de 500m2, 3 salles de réunions. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NEWSFEED + MAP -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <div class="row">
          <!-- en vidéo -->
          <div class="col-xs-12 col-sm-6">
            <h3>NEWSFEED</h3>
            <div class="div-content-white">
              <div class="div-startups-card">
                <h2>MADDYNESS</h2>
                <h3>L'incubateur recrute une nouvelle promo !</h3>
              </div>
              <div class="div-startups-card">
                <h2>MADDYNESS</h2>
                <h3>L'incubateur recrute une nouvelle promo !</h3>
              </div>
              <div class="div-startups-card">
                <h2>MADDYNESS</h2>
                <h3>L'incubateur recrute une nouvelle promo !</h3>
              </div>
              <div class="div-startups-card">
                <h2>MADDYNESS</h2>
                <h3>L'incubateur recrute une nouvelle promo !</h3>
              </div>
            </div>
          </div>
          <!-- NOUS  -->
          <div class="col-xs-12 col-sm-6">
            <h3>OÙ LES TROUVER ?</h3>
            <div class="div-content-white">
              <div class="col-xs-12 col-sm-7">
                <div id="map" style="width: 100%; height: 200px;"></div>
              </div>
              <div class="col-xs-12 col-sm-5">
                <p><%= @bloomer.address %>
                <br><br><%= @bloomer.email %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- PAGE ENTREPRENEURS -->
<div id="entrepreneurs" class="sub-content hidden" style="margin:0px;padding:0px">
  <!-- TAB SUB TITLE PROGRAM -->
  <div class="wrapper-show-bloomer">
    <div class="container">
      <div class="row program-titles">
        <div class="col-xs-12">
          <a class="program-title tab" style="padding:0;margin:0px">></a>
          <a class="program-title tab active" data-target="#program-one">
            <% if @first_program.present? %>
              <%= @first_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-two">
            <% if @second_program.present? %>
              <%= @second_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-three">
            <% if @thrid_program.present? %>
              <%= @third_program.name %>
            <% end %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE ENTREPRENEURS - PROGRAMME 1 -->
  <div class="program-content" id="program-one">
    <% if @first_program.present? %>
    <!-- ROW 1 : main info + postulate -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <!-- ROW 1 : main info + time line -->
        <div class="row">
          <!-- MAIN INFO PROGRAM -->
          <div class="col-xs-12 col-sm-6">
            <div class="container-second">
              <div class="row-main-info">
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>COUT</h2>
                    <h3><%= @first_program.price %> €</h3>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>DUREE</h2>
                    <h3><%= @first_program.duration %></h3>
                  </div>
                </div>
              </div>
              <div class="row-main-info">
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>TAUX SURVIE</h2>
                    <h3>?? %</h3>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>PRISE PARTICIPATION</h2>
                    <h3>
                      <% if @first_program.equity? %>
                      <%= "OUI" %>
                      <% else %>
                      <%= "NON" %>
                      <% end %>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- TIMELINE CANDIDATURE -->
          <div class="col-xs-12 col-sm-6">
            <div class="container-second">
              <div class="div-description">
                <div class="timeline">
                  <div class="l-wizard-h">
                    <ul class="wizard-h">
                      <li class="l-wizard-h-step wizard-h__step--previous">
                       <i class="fa fa-file-text-o"></i>
                        <div class="text-step-timeline">
                        <span class="date-step-timeline">
                          <%= @first_program.candidature_open.strftime("%l %b %y") %>
                        </span>
                        <br><span class="name-step-timeline">Appel à projects</span>
                        </div>
                      </li>
                      <li class="l-wizard-h-step wizard-h__step--current">
                        <i class="fa fa-user"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                          <%= @first_program.candidature_close.strftime("%l %b %y") %>
                          </span>
                          <br><span class="name-step-timeline">Fin de candidature</span>
                        </div>
                      </li>
                      <li class="l-wizard-h-step wizard-h__step">
                        <i class="fa fa-check"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                            <% if @first_program.batches.count != 0 %>
                            <%= @first_program.batches.last.batch_start.strftime("%l %b %y") %>
                            <% else %>
                            <%= "?" %>
                            <% end %>
                            </span>
                          <br><span class="name-step-timeline">
                            <% if @first_program.batches.count != 0 %>
                            Rentrée <%= @first_program.batches.last.name%></span>
                            <% end %>
                        </div>
                      </li>
                   </ul>
                  </div>
                </div>
                <div class="timeline">
                  <div class="col-xs-6">
                    <h4 style="text-align:center">Il reste <%= (@first_program.candidature_close - Date.today).to_i %> jours </h4>
                  </div>
                  <div class="col-xs-6" style="justify-content: center;display:flex">
                    <a href="#" class="btn-postulate">Je postule</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ROW 2 : L'ACCOMPAGNEMENT (individuel + collectif) -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <div class="row">
          <!-- ACCOMPAGNEMENT INDIV -->
          <div class="col-xs-12 col-sm-6">
            <h3>ACCOMPAGNEMENT INDIVIDUEL</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @first_program.individual_coaching? %>
                <%= @first_program.individual_coaching.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- ACCOMPAGNEMENT COLLECTIF -->
          <div class="col-xs-12 col-sm-6">
            <h3>ACCOMPAGNEMENT COLLECTIF</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @first_program.collective_coachin? %>
                <%= @first_program.collective_coachin.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW 3 : Ecocsysteme + avantages -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <!-- First Line -->
        <div class="row">
          <!-- colonne 1 - ECOSYSTEME -->
          <div class="col-xs-12 col-sm-6">
            <h3>L'ECOSYSTEME</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @first_program.ecosystem? %>
                <%= @first_program.ecosystem.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- colonne 2 - AVANTAGES -->
          <div class="col-xs-12 col-sm-6">
            <h3>LES AVANTAGES</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @first_program.advantages? %>
                <%= @first_program.advantages.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW 4 : criteres de selection + avis -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <div class="row">
          <!-- critères de sélection -->
          <div class="col-xs-12 col-sm-6">
            <h3>CRITERES DE SELECTION</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @first_program.selection_criterias? %>
                <%= @first_program.selection_criterias.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- avis startups -->
          <div class="col-xs-12 col-sm-6">
            <h3>AVIS DES STARTUPS</h3>
            <div class="div-content-white">
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <div class="avatar" style="background-color: #FAFAFA;text-align:center;height:40px; width:40px">
                    <h2 style="padding-top:13px;color:#8C8C8C">?</h2>
                  </div>
                </div>
                <div class="text-startup-reviews" style="margin-bottom:0">
                  <h2> PARTAGEZ VOTRE EXPERIENCE !</h2>
                  <p>Ecrivez votre review et aidez les autres entrepreneurs à mieux choisir</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>

    <!-- PAGE ENTREPRENEURS - PROGRAMME 2 -->
  <div class="program-content hidden" id="program-two">
    <% if @second_program.present? %>
    <!-- ROW 1 : main info + postulate -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <!-- ROW 1 : main info + time line -->
        <div class="row">
          <!-- MAIN INFO PROGRAM -->
          <div class="col-xs-12 col-sm-6">
            <div class="container-second">
              <div class="row-main-info">
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>COUT</h2>
                    <h3><%= @second_program.price %> €</h3>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>DUREE</h2>
                    <h3><%= @second_program.duration %></h3>
                  </div>
                </div>
              </div>
              <div class="row-main-info">
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>TAUX SURVIE</h2>
                    <h3>?? %</h3>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="div-main-info">
                    <h2>PRISE PARTICIPATION</h2>
                    <h3>
                      <% if @second_program.equity? %>
                      <%= "OUI" %>
                      <% else %>
                      <%= "NON" %>
                      <% end %>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- TIMELINE CANDIDATURE -->
          <div class="col-xs-12 col-sm-6">
            <div class="container-second">
              <div class="div-description">
                <div class="timeline">
                  <div class="l-wizard-h">
                    <ul class="wizard-h">
                      <li class="l-wizard-h-step wizard-h__step--previous">
                       <i class="fa fa-file-text-o"></i>
                        <div class="text-step-timeline">
                        <span class="date-step-timeline">
                          <%= @second_program.candidature_open.strftime("%l %b %y") %>
                        </span>
                        <br><span class="name-step-timeline">Appel à projects</span>
                        </div>
                      </li>
                      <li class="l-wizard-h-step wizard-h__step--current">
                        <i class="fa fa-user"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                          <%= @second_program.candidature_close.strftime("%l %b %y") %>
                          </span>
                          <br><span class="name-step-timeline">Fin de candidature</span>
                        </div>
                      </li>
                      <li class="l-wizard-h-step wizard-h__step">
                        <i class="fa fa-check"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                            <% if @second_program.batches.count != 0 %>
                            <%= @second_program.batches.last.batch_start.strftime("%l %b %y") %>
                            <% else %>
                            <%= "?" %>
                            <% end %>
                            </span>
                          <br><span class="name-step-timeline">
                            <% if @second_program.batches.count != 0 %>
                            Rentrée <%= @second_program.batches.last.name%></span>
                            <% end %>
                        </div>
                      </li>
                   </ul>
                  </div>
                </div>
                <div class="timeline">
                  <div class="col-xs-6">
                    <h4 style="text-align:center">Il reste <%= (@second_program.candidature_close - Date.today).to_i %> jours </h4>
                  </div>
                  <div class="col-xs-6" style="justify-content: center;display:flex">
                    <a href="#" class="btn-postulate">Je postule</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ROW 2 : L'ACCOMPAGNEMENT (individuel + collectif) -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <div class="row">
          <!-- ACCOMPAGNEMENT INDIV -->
          <div class="col-xs-12 col-sm-6">
            <h3>ACCOMPAGNEMENT INDIVIDUEL</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @second_program.individual_coaching? %>
                <%= @second_program.individual_coaching.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- ACCOMPAGNEMENT COLLECTIF -->
          <div class="col-xs-12 col-sm-6">
            <h3>ACCOMPAGNEMENT COLLECTIF</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @second_program.collective_coachin? %>
                <%= @second_program.collective_coachin.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW 3 : Ecocsysteme + avantages -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <!-- First Line -->
        <div class="row">
          <!-- colonne 1 - ECOSYSTEME -->
          <div class="col-xs-12 col-sm-6">
            <h3>L'ECOSYSTEME</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @second_program.ecosystem? %>
                <%= @second_program.ecosystem.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- colonne 2 - AVANTAGES -->
          <div class="col-xs-12 col-sm-6">
            <h3>LES AVANTAGES</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @second_program.advantages? %>
                <%= @second_program.advantages.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW 4 : criteres de selection + avis -->
    <div class="wrapper-show-bloomer">
      <div class="container">
        <div class="row">
          <!-- critères de sélection -->
          <div class="col-xs-12 col-sm-6">
            <h3>CRITERES DE SELECTION</h3>
            <div class="div-content-white">
              <div class="plain-text">
                <% if @second_program.selection_criterias? %>
                <%= @second_program.selection_criterias.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- avis startups -->
          <div class="col-xs-12 col-sm-6">
            <h3>AVIS DES STARTUPS</h3>
            <div class="div-content-white">
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <img src="http://laurenceourac.com/home/wp-content/uploads/2015/12/ANNA.jpg" class="avatar">
                </div>
                <div class="text-startup-reviews">
                  <h2>ASK ANNA</h2>
                  <p>« Le meilleur programme d’incubation à Paris »
                  <br>« Beaucoup de bienveillance »</p>
                  <h4>En savoir +</h4>
                </div>
              </div>
              <div class="reviews-bloomer-small-card hidden">
                <div class="logo-startup-review">
                  <div class="avatar" style="background-color: #FAFAFA;text-align:center;height:40px; width:40px">
                    <h2 style="padding-top:13px;color:#8C8C8C">?</h2>
                  </div>
                </div>
                <div class="text-startup-reviews" style="margin-bottom:0">
                  <h2> PARTAGEZ VOTRE EXPERIENCE !</h2>
                  <p>Ecrivez votre review et aidez les autres entrepreneurs à mieux choisir</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>

<!-- PAGE ENTREPRISES -->
<div id="entreprises" class="sub-content hidden" style="margin:0px;padding:0px">
  <div class="wrapper-show-bloomer">
    <div class="container">
      <h2> Pas d'info pour l'instant</h2>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="wrapper-show-bloomer" style="height:50px">
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers([{ lat: <%= @bloomer.latitude %>, lng: <%= @bloomer.longitude %> }]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        };
      });
    });
  <% end %>
<% end %>
