<div class="wrapper-bloomer-show">
  <div class="container">

    <div class="row">
      <div class="col-xs-2" id="logo-bloomer">
        <% if @bloomer.logo? %><%= cl_image_tag(@bloomer.logo.path, :crop => :crop)%>
        <% else %>
        <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="">
        <% end %>

      </div>
      <div class="col-xs-10">
        <div class="row title">
          <h1><%= @bloomer.name.upcase %>
            <span class="contact-box margin-left-16px"><a href="mailto:<%= @bloomer.email %>" target="_blank">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="<%= @bloomer.twitter_account %>" target="_blank">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="<%= @bloomer.twitter_account %>" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a></span>
          </h1>

        </div>
        <div class="row">
         <h2 class="second-title"><a target="_blank" href="http://<%= @bloomer.website %>" class="second-title"><i class="fa fa-globe margin-right-8px" aria-hidden="true"></i> <%= @bloomer.website %> </a><i class="fa fa-map-marker margin-right-8px margin-left-16px" aria-hidden="true"></i> <%= @bloomer.city %></h2>
        </div>
        <div class="row sub-titles">
          <div class="col-xs-12" style="padding-left:0">
            <a class="sub-title tab active" data-target="#main-bloomer-info">INFO</a>
            <a class="sub-title tab" data-target="#entrepreneurs">PROGRAMMES <span>(<%= @bloomer.programs.count %>)</span></a>
            <a class="sub-title tab" data-target="#reviews">AVIS <span>(<%= @bloomer.reviews.count %>)</span></a>
            <a class="sub-title tab hidden" data-target="#entreprises">ENTREPRISES</a>
          </div>
        </div>
      </div>
    </div>

    <div id="main-bloomer-info" class="sub-content">
      <div class="row" style="height:200px;">
        <div class="col-xs-3 height-100percent">
          <div class="info-box show-box height-100percent">
            <h2><i class="fa fa-hand-o-right margin-right-8px" aria-hidden="true"></i> STRUCTURE</h2>
            <h3 class="color-green"><%= @bloomer.category.capitalize %></h3>
            <h2><i class="fa fa-tags margin-right-8px" aria-hidden="true"></i> SPÉCIALISATION</h2>
            <h3 class="color-pink"><%= @bloomer.speciality.capitalize %></h3>
            <h2><i class="fa fa-calendar-o margin-right-8px" aria-hidden="true"></i> CREATION</h2>
            <h3 class="color-orange"><%= @bloomer.date_creation.strftime('%B %Y') %></h3>
            <h2><i class="fa fa-map-marker margin-right-8px" aria-hidden="true"></i>COORDONNÉES</h2>
            <h3 class="color-pink"><%= @bloomer.address %></h3>

          </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="col-xs-4 height-100percent">
          <div class="show-box height-100percent">
            <h2>DESCRIPTION</h2>
            <p><%= @bloomer.description %></p>
          </div>
        </div>
        <!-- MODAL STARTUPS -->
        <%= render 'shared/modal_startups_bloomer_view', bloomer: @bloomer %>
        <!-- STARTUPS -->
        <div class="hidden height-100percent">
          <div class="startups-box show-box height-100percent">
            <h2>NO<% if @bloomer.startups.count >1 %>S<% else %>TRE<% end %> <%= @bloomer.startups.count %> STARTUP<% if @bloomer.startups.count > 1%>S<% end %></h2>
            <% if @bloomer.startups.count > 0 %>
            <div class="logo-startups-box margin-top-5px">
              <% startups = @bloomer.startups.shuffle %>
              <!-- STARTUP 1 -->
              <% if startups[0].logo? %>
              <%= cl_image_tag startups[0].logo.path, class:"margin-right-20px" %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[1].logo? %>
              <%= cl_image_tag startups[1].logo.path %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[2].logo? %>
              <%= cl_image_tag startups[2].logo.path, class:"margin-right-20px"  %>
              <% end %>
              <!-- STARTUP 1 -->
              <% if startups[3].logo? %>
              <%= cl_image_tag startups[3].logo.path %>
              <% end %>
            </div>
            <%= link_to "#", data:{toggle: "modal", target: "#modal-startups-view-bloomer"} do %>
            <h4>Voir +</h4>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-5 height-100percent">
            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="100%" height="200px" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <%= render 'shared/modal_photos_view_bloomer', bloomer: @bloomer %>
      <div class="row photo">
        <%= link_to "#", data: {toggle: "modal", target: "#modal-photos-view-bloomer"} do %>
        <div class="col-xs-12 photo-bloomer">
          <div class="bg-hover-blue">
            <h3><span>+ de photos</span></h3>
          </div>
          <% @bloomer.photos.limit(3).each do |photo| %>
            <% if @bloomer.photos? %>
            <%= cl_image_tag photo.path %>
            <% else %>
            <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg">
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="row" style="height:200px;">
        <!-- MODAL STARTUPS -->
        <%= render 'shared/modal_startups_bloomer_view', bloomer: @bloomer %>
        <!-- STARTUPS -->
        <div class="col-xs-6 height-100percent">
          <div class="startups-box show-box height-100percent">
            <div class="bg-hover-blue">
              <h3><span>+ de startups</span></h3>
            </div>
            <h2>NO<% if @bloomer.startups.count >1 %>S<% else %>TRE<% end %> <%= @bloomer.startups.count %> STARTUP<% if @bloomer.startups.count > 1%>S<% end %></h2>
            <% if @bloomer.startups.count > 0 %>
            <div class="logo-startups-box margin-top-5px">
              <% startups = @bloomer.startups.order("RANDOM()").limit(8) %>
              <!-- STARTUP 1 -->
              <div class="startup-box">
                <% if startups[0].logo? %>
                <%= cl_image_tag startups[0].logo.path, class:"margin-right-20px" %>
                <% end %>
              </div>
              <!-- STARTUP 1 -->
              <div class="startup-box">
                <% if startups[1].logo? %>
                <%= cl_image_tag startups[1].logo.path %>
                <% end %>
              </div>
              <!-- STARTUP 1 -->
              <div class="startup-box">
                <% if startups[2].logo? %>
                <%= cl_image_tag startups[2].logo.path, class:"margin-right-20px"  %>
                <% end %>
              </div>
              <!-- STARTUP 1 -->
              <div class="startup-box">
                <% if startups[3].logo? %>
                <%= cl_image_tag startups[3].logo.path %>
                <% end %>
              </div>
            </div>
            <%= link_to "#", data:{toggle: "modal", target: "#modal-startups-view-bloomer"} do %>
            <h4 style="margin-top:15px">Voir +</h4>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6 height-100percent">

        </div>
      </div>

    </div>

    <div id="entrepreneurs" class="sub-content hidden">
      <div class="row program-titles">
        <div class="col-xs-12">
          <a class="program-title tab active" data-target="#program-one">
            <% if @first_program %>
              1. <%= @first_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-two">
            <% if @second_program.present? %>
              2. <%= @second_program.name %>
            <% end %>
          </a>
          <a class="program-title" data-target="#program-three">
            <% if @third_program.present? %>
              3. <%= @third_program.name %>
            <% end %>
          </a>
        </div>
      </div>
      <!-- PROGRAMME N°1 -->
      <div id="#program-one">
        <div class="row" style="height:500px;">
          <div class="col-xs-12 col-sm-6 height-100percent">
            <% if @first_program.present? %>
            <div class="show-box height-40percent" style="margin-bottom:20px">
              <!--  MAIN INFO PROGRAM -->
              <div class="col-xs-6">
                <h2><i class="fa fa-usd margin-right-8px" aria-hidden="true"></i> COÛT</h2>
                <h3 class="color-green">
                  <% if @first_program.price == 0 %>
                  GRATUIT
                  <% else %>
                  <%= @first_program.price %> €
                  <% end %>
                </h3>
                <h2><i class="fa fa-clock-o margin-right-8px" aria-hidden="true"></i> DURÉE</h2>
                <h3 class="color-pink"><%= @first_program.duration %></h3>
                <h2><i class="fa fa-pie-chart margin-right-8px" aria-hidden="true"></i> PRISE DE PARTICIPATION</h2>
                <h3 class="color-orange">
                  <% if @first_program.equity? %>
                  <%= "OUI" %>
                  <% else %>
                  <%= "NON" %>
                  <% end %>
                </h3>
                <h2><i class="fa fa-pie-chart margin-right-8px" aria-hidden="true"></i> INVESTISSEMENT </h2>
                <h3 class="color-green">
                  A FAIRE
                </h3>
              </div>
              <!--  AVANTAGES -->
              <div class="col-xs-6">
                <h2><i class="fa fa-plus-circle margin-right-8px" aria-hidden="true"></i> LES AVANTAGES</h2>
                <h3 class="color-green">
                  <% if @first_program.advantages? %>
                  <%= @first_program.advantages %>
                  <% end %>
                </h3>
              </div>
            </div>
            <% end %>
            <div class="title-box">
              <h3>L'accompagnement</h3>
            </div>
            <% if @first_program.present? %>
            <div class="show-box height-40percent">
              <!--  MAIN INFO PROGRAM -->
              <div class="col-xs-6">
                <h2><i class="fa fa-user margin-right-8px" aria-hidden="true"></i> INDIVIDUEL</h2>
                <h3>
                  <% if @first_program.individual_coaching? %>
                    <%= @first_program.individual_coaching %>
                  <% end %>
                </h3>
              </div>
              <!--  AVANTAGES -->
              <div class="col-xs-6">
                <h2><i class="fa fa-users margin-right-8px" aria-hidden="true"></i> COLLECTIF</h2>
                <h3 class="color-green">
                  <% if @first_program.collective_coachin? %>
                    <%= @first_program.collective_coachin %>
                  <% end %>
                </h3>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-6 height-100percent">
            <div class="title-box">
              <h3>LA SÉLECTION</h3>
            </div>
            <% if @first_program.present? %>
            <div class="show-box text-center" style="margin-bottom:20px;    height: 84%;">
              <!-- TIMELINE -->
              <div class="timeline">
                  <div class="l-wizard-h">
                    <ul class="wizard-h">
                      <% if @first_program.candidature_open == Date.today %>
                      <% status_open = "doing" %>
                      <% elsif @first_program.candidature_open < Date.today %>
                      <% status_open = "done" %>
                      <% elsif @first_program.candidature_open > Date.today %>
                      <% status_open = "to-do" %>
                      <% end %>
                      <li class="l-wizard-h-step wizard-h__step--previous <%= status_open %>">
                       <i class="fa fa-file-text-o"></i>
                        <div class="text-step-timeline">
                        <span class="date-step-timeline">
                          <%= @first_program.candidature_open.strftime("%l %b %y") %>
                        </span>
                        <br><span class="name-step-timeline">Appel à projects</span>
                        </div>
                      </li>
                      <% if @first_program.candidature_close == Date.today %>
                      <% status_close = "doing" %>
                      <% elsif @first_program.candidature_close < Date.today %>
                      <% status_close = "done" %>
                      <% elsif @first_program.candidature_close > Date.today %>
                      <% status_close = "to-do" %>
                      <% end %>
                      <li class="l-wizard-h-step wizard-h__step--current <%= status_close %>">
                        <i class="fa fa-user"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                          <%= @first_program.candidature_close.strftime("%l %b %y") %>
                          </span>
                          <br><span class="name-step-timeline">Fin de candidature</span>
                        </div>
                      </li>

                      <% if @first_program.batches.last.batch_start == Date.today %>
                      <% status_start = "doing" %>
                      <% elsif @first_program.batches.last.batch_start < Date.today %>
                      <% status_start = "done" %>
                      <% elsif @first_program.batches.last.batch_start > Date.today %>
                      <% status_start = "to-do" %>
                      <% end %>
                      <li class="l-wizard-h-step wizard-h__step <%= status_start %>">
                        <i class="fa fa-check"></i>
                        <div class="text-step-timeline">
                          <span class="date-step-timeline">
                            <% if @first_program.batches.count != 0 %>
                            <%= @first_program.batches.last.batch_start.strftime("%l %b %y") %>
                            <% else %>
                            <%= "?" %>
                            <% end %>
                            </span>
                          <br><span class="name-step-timeline">
                            <% if @first_program.batches.count != 0 %>
                            Rentrée de la<br> nouvelle promo</span>
                            <% end %>
                        </div>
                      </li>
                   </ul>
                  </div>
              </div>
              <!-- BUTTON POSTULATE -->
              <%= link_to "Je Postule", new_program_candidature_path(@first_program), class:"btn-postulate" %>
              <h3 class="muli-font" style="margin-top:20px">
                <% if @first_program.candidature_close < Date.today %>
                  Vous ne pouvez plus postuler
                <% else %>
                  Il reste <%= (@first_program.candidature_close - Date.today).to_i %> jour<% if @first_program.candidature_close - Date.today >= 2 %>s<% end %> pour postuler
                <% end %>
              </h3>
              <div class="row">
                <div class="col-xs-6 text-left">
                  <h2><i class="fa fa-filter margin-right-8px" aria-hidden="true"></i> LES CRITÈRES</h2>
                  <h3>
                    <% if @first_program.selection_criterias? %>
                      <%= @first_program.selection_criterias %>
                    <% end %>
                  </h3>
                </div>
                <div class="col-xs-6 text-left">
                  <h2><i class="fa fa-file-text-o margin-right-8px" aria-hidden="true"></i> LES DOCUMENTS</h2>
                  <h3>
                    A AJOUTER : liste
                  </h3>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- END PROGRAMME N°1 -->

    </div>

    <div id="reviews" class="sub-content hidden">
      <div class="row">
        <div class="col-xs-12 reviews-bloomers">
          <div class="reviews-startups">
            <div class="col-xs-2 logo-review">
              <% if @bloomer.logo? %><%= cl_image_tag(@bloomer.logo.path, :crop => :crop)%>
              <% else %>
              <img src="http://imageshack.com/a/img923/6113/XpMsUl.jpg" alt="logo">
              <% end %>
            </div>
            <div class="col-xs-10">
              <% @bloomer.reviews.each do |review| %>
              <% if @bloomer.reviews.count == 0 %>
              <h4> Les startups qui sont passées par cet incubateur n'ont pas encore donné leur avis ! </h4>
              <% else %>
              <h4><%= review.title %> <% review.rating.times do %> <i class="fa fa-star" style="color:#C9DDE1; font-size:18px"></i> <% end %></h4>
              <p><%= review.description %></p>
              <% end %>
              <% end %>
            </div>
          </div>
       </div>
      </div>
      <div class="row put-your-review">
            <h4> Vous êtes passés chez <strong> <%= @bloomer.name %> </strong> ? Votre avis nous intéresse ! </h4>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 new-review" style="color:#04677D">
              <%= simple_form_for [@bloomer, @review] do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :rating, collection: [1,2,3,4,5] %>
              <%= f.submit "add a review", class: "btn btn-primary" %>
              <% end %>
            </div>
      </div>
    </div>
    </div>
    </div>
  </div>



