<div class="wrapper-dashboard">
  <div class="container">
  <h3>MES INCUBATEURS</h3>
    <% @bloomers.each do |bloomer| %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card-bloomer">
          <h1><%= bloomer.name %> (<%= bloomer.programs.count%>)</h1>
          <div class="row">
            <div class="col-xs-12">
              <div class="dashboard-tabs">
                <%= link_to "Nouveau programme", new_bloomer_program_path(bloomer) %>
                <% program = bloomer.programs.first%>
                <a class="dashboard-tab" data-target="#programs">
                  <h2><%= program.name %> (<%= program.batches.count%>)</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="dashboard-tab-content">
                <div class="row">
                  <div class="col-xs-6">
                    <h2>LES PROMOTIONS</h2>
                    <%= link_to "Nouvelle promotion", new_program_batch_path(program) %>
                      <ul>
                      <% batch = program.batches.first %>
                      <li><%= link_to batch.name, batch_path(batch) %> (<%= batch.startups.count %> startups)</li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <h2>LES STARTUPS</h2>
                    <ul>
                      <% batch.startups.each do |startup| %>
                      <li><%= link_to startup.name, startup_path(startup) %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
