<div class="wrapper-dashboard">
  <div class="container-dashboard">
    <!-- NOM & AVATAR - USER -->
    <div class="first-row-dashboard" id="header-user-info">
      <% avatar_url = current_user.facebook_picture_url || current_user.linkedin_picture_url || "https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" %>
      <%= image_tag avatar_url, class:"dashboard-avatar" %>
      <div class="dashboard-avatar-text">
        <h2><%= current_user.first_name%> <%= current_user.last_name%>  </h2>
        <% if current_user.startup_admin && current_user.startups.count != 0 %>
          <h3>CEO de <% current_user.startups.each do |startup|%><%=startup.name%> <%end%></h3>
        <% elsif current_user.bloomer_admin && current_user.bloomers.count != 0 %>
          <h3>Manager de <% current_user.bloomers.each do |bloomer|%><%=bloomer.name%>, <%end%></h3>
        <%end%>
      </div>
    </div>
    <!-- NOM & AVATAR - STARTUP -->
    <% if current_user.startup_admin? %>
    <% current_user.startups.each do |startup| %>
    <div class="first-row-dashboard hidden" id="header-startup-info-<%= startup.id %>">
      <% if current_user.startups.count != 0 %>
        <% if startup.logo? %>
          <%= cl_image_tag startup.logo.path, class:"dashboard-avatar" %>
        <% else %>
          <img src="http://www.addressbazar.com/images/logo/no-logo.png" class="dashboard-avatar">
        <% end %>
        <div class="dashboard-avatar-text">
          <h2><%= startup.name %> </h2>
          <h3><%= startup.short_description %></h3>
        </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
    <!-- NOM & AVATAR - BLOOMER -->
    <% if current_user.bloomer_admin? %>
    <div class="first-row-dashboard hidden" id="header-bloomer-info">
      <% if current_user.bloomers.count != 0 %>
        <% if current_user.bloomers.first.logo? %>
          <%= cl_image_tag current_user.bloomers.first.logo.path, class:"dashboard-avatar" %>
        <% else %>
          <img src="http://www.addressbazar.com/images/logo/no-logo.png" class="dashboard-avatar">
        <% end %>
        <div class="dashboard-avatar-text">
          <h2><%= current_user.bloomers.first.name %> </h2>
          <h3><%= current_user.bloomers.first.category %> | <%= current_user.bloomers.first.speciality %></h3>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="container-dashboard" style="padding-top:20px">
    <!-- DASH CONTENT -->
    <div class="second-row-dashboard">
      <!-- DASHBOARD TABS -->
      <div class="col-xs-4 dashboard-main-tabs">
        <!-- BTN PROFIL -->
        <h3 class="dashboard-btn active profile-link" data-target="#dashboard-profile" style="margin-top:0;">
          <i class="fa fa-user" aria-hidden="true"></i>MON PROFIL
        </h3>
        <!-- BTN STARTUP -->
        <% if current_user.startup_admin? %>
        <h3 class="dashboard-btn profile-link">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <% if current_user.startups.count > 1 %>MES STARTUPS <span class="dash-notifs">(<%= current_user.startups.count %>)</span>
          <% else %>MA STARTUP
          <% end %>
        </h3>
          <% if current_user.startups.count == 0 %>
          <% else %>
            <% current_user.startups.each do |startup| %>
              <h4 class="dashboard-btn" data-target="#dashboard-startup-<%= startup.id -%>,#header-startup-info-<%= startup.id %>">
                > <%= startup.name %>
              </h4>
            <% end %>
          <% end %>
          <%= link_to new_startup_path do %>
            <h4>> J'ajoute une startup</h4>
          <% end %>
        <% end %>


        <!-- BTN BLOOMER & BATCHS-->
        <% if current_user.bloomer_admin? %>
          <!-- BLOOMER LISTS -->
          <h3 class="dashboard-btn" data-target="#dashboard-bloomer-one" id="btn-bloomer-all">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <% if current_user.bloomers.count > 1 %>MES BLOOMERS
              <span class="dash-notifs">(<%= current_user.bloomers.count %>)</span>
              <br>ERROR
            <% else %><%= current_user.bloomers.first.name.upcase %> <span class="dash-notifs">(<%= current_user.bloomers.first.programs.count %> programme<% if current_user.bloomers.first.programs.count > 1%>s<%end%>)</span>
            <% end %>
          </h3>
          <% if current_user.bloomers.count == 0%>
          <h4>> J'ajoute un bloomer</h4>
          <% end %>


          <!-- PROGRAMME LIST -->
          <h4 class="dashboard-btn" data-target="#dashboard-bloomer-one" id="btn-bloomer-all">

          </h4>
          <!-- AFFICHER CHAQUE PROGRAMME -->
          <% if current_user.programs.count >= 1 %>
            <% current_user.programs.each do |program| %>
              <h4 id="btn-bloomer-one" style="text-transform:uppercase" data-toggle="modal" data-target="#modal-program-<%= program.id %>">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <%= program.name %><span class="dash-notifs" style="color:#8C8C8C">
                 (<%= program.batches.count %> promos)</span>
              </h4>
              <!-- Modal -->
              <%= render 'programs_modal', program: program %>
              <!-- LES PROMOS DE CHAQUE PROGRAMME -->
              <% if program.batches.count >= 1 %>
                <% program.batches.each do |batch| %>
                  <h5 class="btn-bloomer-one" data-target="#content-batch-<%= batch.id %>">> <%= batch.name %></h5>
                <% end %>
              <% end %>
                <h5>+ <%= link_to "Je crée une nouvelle promo", new_program_batch_path(program) %> </h5>
            <% end %>
          <% end %>
          <!-- LIEN AJOUTER UN PROGRAMME -->
          <%= link_to new_program_path do %>
            <h4><i class="fa fa-list-alt" aria-hidden="true"></i>+  J'ajoute un programme </h4>
          <% end %>
          <% end %>

        <!-- MES ACCOMPAGNEMENTS -->
        <% if current_user.startup_admin? %>
        <h3 class="dashboard-btn profile-link" data-target="#dashboard-incubations">
          <i class="fa fa-bath" aria-hidden="true"></i>
          <% if @incubations.count <= 1 %>
          MA PROMOTION
          <% else %>
          MES PROMOTIONS <span class="dash-notifs">(<%= current_user.incubations.count %>)</span>
          <% end %>
        </h3>
        <% end %>


        <!-- BTN CANDIDATURE -->
        <h3 class="dashboard-btn profile-link" data-target="#dashboard-candidatures">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>MES CANDIDATURES <span class="dash-notifs">(<%= 404+current_user.candidatures.where(status: "new").count %>)</span>
        </h3>
        <% if current_user.startup_admin? %>
        <h3 class="dashboard-btn profile-link" data-target="#dashboard-reviews">
          <i class="fa fa-star" aria-hidden="true" style="color:#04677D"></i>MES AVIS <span class="dash-notifs">(<%= current_user.reviews.count %>)</span>
        </h3>
        <h3 class="dashboard-btn profile-link" data-target="#dashboard-favorites">
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>MES FAVORIS <span class="dash-notifs">(<%= @favorites.count %>)</span>
        </h3>
        <% end %>
        <h3 class="dashboard-btn profile-link" data-target="#dashboard-messages">
          <i class="fa fa-comment" aria-hidden="true"></i>MES MESSAGES <span class="dash-notifs">(?)</span>
        </h3>
      </div>



      <!-- DASHBOARD CONTENT 1. PROFILE -->
      <div class="col-xs-8 dashboard-content" id="dashboard-profile">
        <!-- MAIN INFO -->
        <h2>Mon profil</h2>
        <div class="row dashboard-sub-content">
          <div class="col-xs-12 col-sm-6">
            <h3><span>Email</span> : <%= current_user.email %></h3>
            <h3><span>Startup admin</span> : <%= current_user.startup_admin %></h3>
            <h3><span>Bloomer admin</span> : <%= current_user.bloomer_admin %></h3>
            <h3><span>Age</span> : </h3>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3>Compte Linkedin : </h3>
            <h3>Compte Twitter : </h3>
          </div>
        </div>
      </div>



      <!-- DASHBOARD CONTENT 2. STARTUP -->
      <% if current_user.startups.count >=1 %>
        <% current_user.startups.each do |startup| %>
        <div class="col-xs-9 dashboard-content hidden" id="dashboard-startup-<%= startup.id -%>">
          <!-- MAIN INFO -->
          <h2>Infos principales</h2>
          <div class="row dashboard-sub-content">
            <div class="col-xs-12 col-sm-6">
              <h3><span>Nom</span> : <%= startup.name %></h3>
              <h3><span>Courte description</span> : <%= startup.short_description %></h3>
              <h3><span>Description</span> : <%= startup.description %></h3>
              <h3><span>Date de création</span> : <%= startup.date_creation %></h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3><span>Site internet</span> : <%= startup.website %></h3>
              <h3><span>Compte twitter</span> : <%= startup.twitter_account %></h3>
            </div>
          </div>
          <h2>La team</h2>
          <div class="row dashboard-sub-content">
            <div class="col-xs-12 col-sm-6">
              (à remplir)
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3><span>L'histoire de l'équipe :</span></h3>
              <%= startup.team %>
            </div>
          </div>
          <h2>Le Parcours</h2>
          <div class="row dashboard-sub-content">
            (à remplir)
          </div>
        </div>
        <% end %>
      <% end %>




      <!-- DASHBOARD CONTENT 2bis. BLOOMER -->
      <% if current_user.bloomers.count >=1 %>
        <div class="col-xs-9 dashboard-content hidden" id="dashboard-bloomer-one">
          <!-- MAIN INFO -->
          <h2>Infos principales</h2>
          <div class="row dashboard-sub-content">
            <div class="col-xs-12 col-sm-6">
              <h3><span>Nom</span> : <%= current_user.bloomers.first.name %></h3>
              <h3><span>Description</span> : <%= current_user.bloomers.first.description %></h3>
              <h3><span>Catégorie</span> : <%= current_user.bloomers.first.category %></h3>
              <h3><span>Spécialité</span> : <%= current_user.bloomers.first.speciality %></h3>
              <h3><span>Date de création</span> : <%= current_user.bloomers.first.date_creation %></h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3><span>Adresse</span> : <%= current_user.bloomers.first.address %></h3>
              <h3><span>Ville</span> : <%= current_user.bloomers.first.city %></h3>
              <h3><span>Site internet</span> : <%= current_user.bloomers.first.website %></h3>
              <h3><span>Compte twitter</span> : <%= current_user.bloomers.first.twitter_account %></h3>
            </div>
          </div>
        </div>
      <% end %>

      <% if current_user.startup_admin? %>
      <div class="col-xs-9 dashboard-content hidden" id="dashboard-incubations">
        <% if @incubations.count == 0 %>
        <h2>Vous n'avez pas de promotion pour l'instant</h2>
        <% else %>
        <% @incubations.each do |incubation| %>
          <div class="dashboard-apply-card">
            <div class="col-xs-2 container-candidature-fields">
              <% if incubation.batch.program.bloomer.logo? %>
                <%= cl_image_tag incubation.batch.program.bloomer.logo.path, class:"candidature-avatar" %>
              <% end %>
            </div>
            <div class="col-xs-2 container-candidature-fields">
              <h2>Bloomer<br><span><%= incubation.batch.program.bloomer.name %></span></h2>
            </div>
            <div class="col-xs-2 container-candidature-fields">
              <h3>Programme<br><span><%= incubation.batch.program.name%></span></h3>
            </div>
            <div class="col-xs-4">
              <h4>Promo : <br><%= incubation.batch.name %></h4>
            </div>
            <div class="col-xs-2 container-candidature-fields">
              <button type="button" class="btn btn-postulate" data-target="/bloomers/<%= incubation.batch.program.bloomer.id %>" style="height:50%;width:50%;border-radius:4px; text-align:center;justify-content:center; text-transform:uppercase; font-size:12px;font-family:'Muli'; padding:1px">Détails</button>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
      <% end %>

      <!-- DASHBOARD CONTENT 4. MES AVIS/REVIEWS -->
      <% if current_user.startup_admin  %>
      <div class="col-xs-9 dashboard-content hidden" id="dashboard-reviews">
        <div class="row">
          <% current_user.reviews.each do |review| %>
            <div class="col-sm-4">
              <div class="review">
                <div class="card-title">
                  <%= review.bloomer.name %>
                </div>
                <h4><%= review.title %> : <%= review.description %></h4>
                <p>
                  <% review.rating.times do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <!-- MES FAVORITS (OK) : STARTUP ADMIN ONLY-->
      <% if current_user.startup_admin  %>
        <div class="col-xs-9 dashboard-content hidden" id="dashboard-favorites" style="display:flex; flex-direction:column; flex-wrap:wrap">
        <% @favorites.each do |favorite| %>
            <div class="review">
              <div class="card-title">
                <%= link_to favorite.bloomer.name, bloomer_path(favorite.bloomer) %>
              </div>
            </div>
        <% end %>
        </div>
      <% end %>


      <!-- DASHBOARD CONTENT 3. MES CANDIDATURES -->
      <div class="col-xs-9 dashboard-content hidden" id="dashboard-candidatures">
        <!-- TABS AVEC STATUS DES CANDIDATURES (OK) : all users -->
        <h2>Mes Candidatures</h2>
        <div class="row tabs-candidatures-status">
          <div class="col-xs-2 tab-candidatures-status active" data-target=".new-candidatures" style="border-radius: 2px 0 0 2px">
            <h3><span>Nouvelles</span></h3>
            <% if current_user.candidatures.where(status: "new").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "new").count %> </div>
            <% end %>
          </div>
          <div class="col-xs-2 tab-candidatures-status" data-target=".to-meet-candidatures">
            <h3><span>A rencontrer</span></h3>
            <% if current_user.candidatures.where(status: "to meet").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "to meet").count %> </div>
             <% end %>
          </div>
          <div class="col-xs-2 tab-candidatures-status" data-target=".rdv-candidatures">
            <h3><span>Mes RDV</span></h3>
            <% if current_user.candidatures.where(status: "rdv").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "rdv").count %> </div>
             <% end %>
          </div>
          <div class="col-xs-2 tab-candidatures-status" data-target=".short-list-candidatures">
            <h3><span>Présélection</span></h3>
            <% if current_user.candidatures.where(status: "short list").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "short list").count %> </div>
             <% end %>
          </div>
          <div class="col-xs-2 tab-candidatures-status" data-target=".accepted-candidatures">
            <h3><span>Acceptées</span></h3>
            <% if current_user.candidatures.where(status: "accepted").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "accepted").count %> </div>
             <% end %>
          </div>
          <div class="col-xs-2 tab-candidatures-status" data-target=".refused-candidatures" style="border-radius:0 2px 2px 0">
            <h3><span>Refusées</span></h3>
            <% if current_user.candidatures.where(status: "refused").count >= 1 %>
            <div class="badge badge-blue" style="z-index:1000"> <%= current_user.candidatures.where(status: "refused").count %> </div>
             <% end %>
          </div>
        </div>
        <div class="dashboard-apply-cards">
          <!-- COTE STARTUP ADMIN -->
          <% if current_user.startup_admin %>
          <!-- New Candidatures -->
            <div class="results-candidatures new-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "new"}.each do |candidature_new| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_new} %>
              <% end %>
            </div>
            <!-- TO MEET CANDIDATURES -->
            <div class="results-candidatures hidden to-meet-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "to meet"}.each do |candidature_meet| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_meet} %>
              <% end %>
            </div>
            <!-- RDV CANDIDATURES -->
            <div class="results-candidatures hidden rdv-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "rdv"}.each do |candidature_rdv| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_rdv} %>
              <% end %>
            </div>
            <!-- SHORT-LIST CANDIDATURES -->
            <div class="results-candidatures hidden short-list-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "short list"}.each do |candidature_short_list| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_short_list} %>
              <% end %>
            </div>
            <!-- ACCEPTED CANDIDATURES -->
            <div class="results-candidatures hidden accepted-candidatures">
              <% (@candidatures.select{ |candidature| candidature.status == "accepted"}).each do |candidature_accepted| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_accepted} %>
              <% end %>
            </div>
            <!-- REFUSED CANDIDATURES -->
            <div class="results-candidatures hidden refused-candidatures">
              <% (@candidatures.select{ |candidature| candidature.status == "refused"}).each do |candidature_refused| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_refused} %>
              <% end %>
            </div>
          <!--  END OF STARTUP ADMIN -->
          <!-- COTE BLOOMER ADMIN -->
          <% elsif current_user.bloomer_admin %>
            <!-- NOUVELLES CANDIDATURES -->
            <div class="results-candidatures new-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "new"}.each do |candidature_new| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_new} %>
              <% end %>
            </div>
            <!-- TO MEET CANDIDATURES -->
            <div class="results-candidatures hidden to-meet-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "to meet"}.each do |candidature_meet| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_meet} %>
              <% end %>
            </div>
            <!-- RDV CANDIDATURES -->
            <div class="results-candidatures hidden rdv-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "rdv"}.each do |candidature_rdv| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_rdv} %>
              <% end %>
            </div>
            <!-- SHORT-LIST CANDIDATURES -->
            <div class="results-candidatures hidden short-list-candidatures">
              <% @candidatures.select{ |candidature| candidature.status == "short list"}.each do |candidature_short_list| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_short_list} %>
              <% end %>
            </div>
            <!-- ACCEPTED CANDIDATURES -->
            <div class="results-candidatures hidden accepted-candidatures">
              <% (@candidatures.select{ |candidature| candidature.status == "accepted"}).each do |candidature_accepted| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_accepted} %>
              <% end %>
            </div>
            <!-- REFUSED CANDIDATURES -->
            <div class="results-candidatures hidden refused-candidatures">
              <% (@candidatures.select{ |candidature| candidature.status == "refused"}).each do |candidature_refused| %>
                <%= render partial: "shared/bl_dashboard_candidatures_card", locals: {candidature: candidature_refused} %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>





      <!-- DASHBOARD CONTENT 4. LES PROMOIONS -->
      <% current_user.batches.each do |batch| %>
        <div class="col-xs-9 dashboard-content hidden" id="content-batch-<%= batch.id %>">
          <!-- TITRE -->
          <h2>
            <%= batch.name %> (<%= batch.program.name %>)
            <!-- <i class="fa fa-plus-circle" aria-hidden="true" style="font-size:16px"></i> -->
          </h2>
          <!--  -->
          <div class="dashboard-apply-cards">
          <% batch.startups.each do |startup| %>
           <div class="dashboard-apply-card">
              <div class="col-xs-2 container-candidature-fields">
                <% if startup.logo? %>
                <%= cl_image_tag startup.logo.path, class:"candidature-avatar" %>
                <% end %>
              </div>
              <div class="col-xs-2 container-candidature-fields">
                <h2>Startup<br><span><%= startup.name %></span></h2>
              </div>
              <div class="col-xs-2 container-candidature-fields">
                <h3>Date de création<br><span><%= startup.date_creation%></span></h3>
              </div>
              <div class="col-xs-4">
                <h4><%= startup.website %> <br> <%= startup.user.email %></h4>
              </div>
              <div class="col-xs-2 container-candidature-fields">
                <button type="button" class="btn btn-postulate" style="height:50%;width:50%;border-radius:4px; text-align:center;justify-content:center; text-transform:uppercase; font-size:12px;font-family:'Muli'; padding:1px">Détails</button>
              </div>
            </div>
          <% end %>
          </div>
          <%= link_to "Je rajoute une startup", new_batch_incubation_path(batch), class:"btn-postulate" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

$(document).ready(function() {

  <!-- MAIN TABS -->
  $(".dashboard-btn").on("click", function(e){
    <!-- ACTIVE OR NOT THE BUTTON -->
    $(".dashboard-btn").removeClass("active");
    $(this).addClass("active");
    <!-- HIDE PROFILE HEAD -->
    $(".first-row-dashboard").addClass("hidden");
    <!-- HIDE CONTENT OF THE LEFT -->
    $(".dashboard-content").addClass("hidden");
    <!-- // Show target tab-content (use class="hidden") -->
    tabSelector = $(this).data("target");
    console.log(tabSelector);
    $(tabSelector).removeClass("hidden");
  });


<!--   // AFFICHER LE HEADER PROFILE -->

$(".profile-link").on("click", function(e){
    $(".first-row-dashboard").addClass("hidden");
    // Show target tab-content (use class="hidden")
    $("#header-user-info").removeClass("hidden");
  });


<!--   // AFFICHER LE HEADER BLOOMER (juste .first) -->

  $("#btn-bloomer-all").on("click", function(e){
    $(".first-row-dashboard").addClass("hidden");
    // Show target tab-content (use class="hidden")
    $("#header-bloomer-info").removeClass("hidden");
  });


  <!-- LES PROMOTIONS ON CLICK -->
  $(".btn-bloomer-one").on("click", function(e){
    $(".first-row-dashboard").addClass("hidden");
    $(".dashboard-content").addClass("hidden");
    // Show target tab-content (use class="hidden")
    tabSelector = $(this).data("target");
    console.log(tabSelector);
    $(tabSelector).removeClass("hidden");
  });



<!-- AFFICHER LE HEADER STARTUP (juste .first) -->

  $("#btn-startup-all").on("click", function(e){
    $(".first-row-dashboard").addClass("hidden");
    // Show target tab-content (use class="hidden")
    $("#header-startup-info").removeClass("hidden");
  });

  $("#btn-startup-one").on("click", function(e){
    $(".first-row-dashboard").addClass("hidden");
    // Show target tab-content (use class="hidden")
    $("#header-startup-info").removeClass("hidden");
  });

  $('#new-candidatures').on("click", function(e){

  });

<!--     CANDIDATURES TAB -->
  $(".tab-candidatures-status").on("click", function(e){
    $(".tab-candidatures-status").removeClass("active");
    $(this).addClass("active");
    $(".results-candidatures").addClass("hidden");
    tabSelector = $(this).data("target");
    console.log(tabSelector);
    $(tabSelector).removeClass("hidden");
  });

});

  <% end %>
<% end %>
