<!-- La bannière -->
<div class="banner">
  <div class="banner-content">
    <h1>B L O O M E R S</h1>
    <p>Votre startup mérite le meilleur</p>
    <a class="btn btn-primary btn-lg">Je trouve mon bloomer</a>
  </div>
</div>

<!-- Exemple de Bloomers -->
<div class="wrapper" style="background-color: #FFFFFF;">
  <h3>PLUTÔT <span style="color:#FFC400">INCUBATEUR</span>, <span style="color:#FFC400">ACCÉLÉRATEUR</span> OU <span style="color:#FFC400">COWORKING</span> ? </h3>

    <div class="container">
      <div class="row" id="cards">

       <div col-md-4>
        <div class="card">
          <figure class="effect-zoe" style="background-image: url('<%= image_path('5.jpg')%>');">
            <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
            <figcaption>
              <div class="row more-details">
                <div class="col-xs-6" id="category">
                  <p> Co-Working </p>
                </div>
                <div class="col-xs-6" id="location">
                  <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p> Mode Retail </p>
                </div>
                <div class="col-xs-6">
                  <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                  </p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

       <div col-md-4>
        <div class="card">
          <figure class="effect-zoe" style="background-image: url('<%= image_path('3.jpg')%>');">
            <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
            <figcaption>
              <div class="row more-details">
                <div class="col-xs-6" id="category">
                  <p> Co-Working </p>
                </div>
                <div class="col-xs-6" id="location">
                  <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p> Mode Retail </p>
                </div>
                <div class="col-xs-6">
                  <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                  </p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

       <div col-md-4>
        <div class="card">
          <figure class="effect-zoe" style="background-image: url('<%= image_path('4.jpg')%>');">
            <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
            <figcaption>
              <div class="row more-details">
                <div class="col-xs-6" id="category">
                  <p> Co-Working </p>
                </div>
                <div class="col-xs-6" id="location">
                  <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p> Mode Retail </p>
                </div>
                <div class="col-xs-6">
                  <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                  </p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-bloomer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 solution" id="explore">
        <h1>Explore</h1>
        <%= image_tag('explore.svg', class: 'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="partage">
        <h1>Partage</h1>
        <%= image_tag('share.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="guide">
        <h1>Guide</h1>
        <%= image_tag('explore.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
    </div>
  </div>
</div>


