<!-- La bannière -->

<div class="banner">
  <div class="banner-content">
    <h1>B L O O M E R S</h1>
    <p>Votre startup mérite le meilleur</p>
     <%= link_to "Je trouve mon accompagnement", bloomers_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!-- QU'EST CE QU'UN BLOOMER -->
<div class="wrapper">
  <h3> QU'EST CE QU'UN BLOOMER ?</h3>
  <div class="container">
<!--     <div class="row">
      <div class="col-md-4">
        Incubateur
      </div>
      <div class="col-md-4">
        Accélérateur
      </div>
      <div class="col-md-4">
        Coworking
      </div>
    </div> -->
    <div class="row">
        <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
      <p> Un Bloomer est un acteur de l'accompagnement des startups : incubateur, accélérateur ou coworking. Chaque structure contribue à l'éclosion de nos startups françaises et européennes. </p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    </div>
  </div>
</div>


<!-- BLOOMERS RANDOM -->
<div class="wrapper" style="background-color: #F9F9F9;">
  <h3> LES BLOOMERS </h3>

    <div class="container">
      <div class="row" id="cards">
        <% @three_random_bloomers.each do |bloomer| %>
         <div class="col-md-4">
          <%= link_to bloomer_path(bloomer), method: :get do %>
            <div class="card">
              <figure class="effect-zoe" style="background-image: url('<% if bloomer.photos? %><%= cl_image_path(bloomer.photos.last.path, :crop => :crop)%> <% else %> <%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%> <% end %>');">
                <div class="test"> <h3> <%= bloomer.name %> </span></h3></div>
                <figcaption>
                  <div class="row more-details">
                    <div class="col-xs-6">
                      <p> <%= bloomer.category %> </p>
                    </div>
                    <div class="col-xs-6">
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <p>  <%= bloomer.speciality %> </p>
                    </div>
                    <div class="col-xs-6">
                      <p class="icon-links">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <% end %>
          </div>
        <% end %>


    </div>
  </div>
</div>


<!-- LA METHODOLOGIE BLOOMERS -->
<div class="wrapper-bloomer">
    <h3> NOTRE MÉTHODOLOGIE </h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 solution" id="explore">
        <h3>Explorer</h3>
        <%= image_tag('explore.svg', class: 'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="partage">
        <h3>Partager</h3>
        <%= image_tag('share.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="guide">
        <h3>Guider</h3>
        <%= image_tag('lighthouse.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
      </div>
    </div>
  </div>
</div>



