<!-- La bannière -->

<div class="banner">
  <div class="container">
  <div class="row">
    <h1>VOTRE STARTUP MÉRITE <span style="font-weight: bold"> LE MEILLEUR </span> </h1>
  </div>
<!--   <div class="row">
     <#%= link_to "Je trouve mon accompagnement", bloomers_path, class: "btn btn-primary btn-lg" %>
  </div> -->

<!--   <#% simple_form_for(@bloomer) do |f| %>
    <#%= f.input :city %>
    <#%= f.input :category %>
    <#%= f.input :speciality %>
  <#% end %> -->


  <div class="search-landing">
    <div class="searchForm row">
      <div class="col-xs-12" style="width:400px;text-align: center">
        <%= simple_form_for(:search, url: bloomers_path, method: :get) do |f| %>
          <h4 style="color:#384259;font-weight:light;"> Location </h4> <br>
          <%= f.input :city, label: 'Ville', selected: @selected_city %>
          <span class="nb-next-button"><%= f.button :submit, "Go !" %></span>
        <% end %>
      </div>
    </div>
  </div>

   <div class="container">
     <div class="row banner-cards">
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <div class="card-banner">
            <div class="card-num"> 1 </div>
            <div class="card-title"> Incubateur, Accélérateur, Coworking </div>
            <div class="card-description"> Je trouve le Bloomer qu'il me faut parmi plus de 300 structures disponibles en France </div> <br>
            <div class="card-icon"><i class="fa fa-list" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <div class="card-banner">
            <div class="card-num"> 2 </div>
            <div class="card-title"> Je crée mon profil </div>
            <div class="card-description"> Et optimise mes chances de candidatures </div> <br>
            <div class="card-icon"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <div class="card-banner">
            <div class="card-num"> 3 </div>
            <div class="card-title"> Je postule </div>
            <div class="card-description"> En trois clics </div> <br>
            <div class="card-icon"><i class="fa fa-check-square" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>

<!-- BLOOMERS RANDOM -->
<div class="wrapper" id="lesbloomers">
  <h3> ILS SONT SUR BLOOMERS </h3>

    <div class="container">
      <div class="row" id="cards">
        <% @three_random_bloomers.each do |bloomer| %>
         <div class="col-md-4">
          <%= link_to bloomer_path(bloomer), method: :get do %>
            <div class="card">
              <figure class="effect-zoe" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<% if bloomer.photos? %><%= cl_image_path(bloomer.photos.last.path, :crop => :crop)%> <% else %> <%= "http://imageshack.com/a/img923/6113/XpMsUl.jpg"%> <% end %>');">
                <div class="test"> <h3> <%= bloomer.name %> </span></h3></div>
                <figcaption>
                  <div class="row more-details">
                    <div class="col-xs-6">
                      <p> <%= bloomer.category %> </p>
                    </div>
                    <div class="col-xs-6">
                      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <p>  <%= bloomer.speciality %> </p>
                    </div>
                    <div class="col-xs-6">
                      <p class="icon-links">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <% end %>
          </div>
        <% end %>


    </div>
  </div>
</div>


<!-- LA METHODOLOGIE BLOOMERS -->
<div class="wrapper" id="methodo">
    <h3> NOTRE MÉTHODOLOGIE </h3>
  <div class="container-fluid">
    <div class="row" id="methodo-cards">
      <div class="col-xs-12 col-md-4 solution" id="explore">
        <div class="card-methodo">
        <h3>Explorer</h3>
        <%= image_tag('explore.svg', class: 'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="partage">
        <div class="card-methodo">
        <h3>Partager</h3>
        <%= image_tag('share.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 solution" id="guide">
        <div class="card-methodo">
          <h3>Guider</h3>
        <%= image_tag('lighthouse.svg', class:'home-image') %>
        <ul>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
          <li>Lorem ipsum blablabla anna remplira plus tard</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
