<div class="head-general-map">
  <h1> <span>LA CARTE DES BLOOMERS</span> </h1>
</div>

<!-- <div class="container"> -->
<div class="row">
  <div class="col-xs-12 col-sm-6" style="height:75vh">
    <div id="map" style="width: 100%; height: 100%; margin-left:40px;"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="container-map-marker-legend-bis" style="display:flex; flex-direction: row;">
      <div class="map-marker-legend-content-bis">
        <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=I|04677D|000000" alt="map marker icon incubateur"> <h2>Incubateurs</h2>
      </div>
      <div class="map-marker-legend-content-bis">
        <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|FEC300|000000" alt="map marker icon accelerateur"> <h2>Accélérateurs</h2>
      </div>
      <div class="map-marker-legend-content-bis">
        <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=C|13CE66|000000" alt="map marker icon coworking"> <h2>Coworkings</h2>
      </div>
    </div>
    <div class="container-city-map-select">
      <div class="city-map-select-card" id="paris">
        <h2>Paris</h2>
      </div>
      <div class="city-map-select-card" id="lyon">
        <h2>Lyon</h2>
      </div>
      <div class="city-map-select-card" id="marseille">
        <h2>Marseille</h2>
      </div>
      <div class="city-map-select-card" id="bordeaux">
        <h2>Bordeaux</h2>
      </div>
      <div class="city-map-select-card" id="lille">
        <h2>Lille</h2>
      </div>
      <div class="city-map-select-card" id="nantes">
        <h2>Nantes</h2>
      </div>
      <div class="city-map-select-card" id="grenoble">
        <h2>Grenoble</h2>
      </div>
      <div class="city-map-select-card" id="montpellier">
        <h2>Montpellier</h2>
      </div>
      <div class="city-map-select-card" id="rennes">
        <h2>Rennes</h2>
      </div>
    </div>
  </div>
</div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>

  $(document).ready(function() {
    var centerlocation = {lat: 47.7529067, lng: 1.671169};
    var setzoomvariable = 5;
    var mapStyle = [
      {"featureType": "landscape.natural",
      "elementType": "geometry.fill",
      "stylers": [{
      "visibility": "on"},
      {"color": "#e0efef"
      }]},
      {"featureType": "poi",
      "elementType": "geometry.fill",
      "stylers": [
      {"visibility": "on"
      },
      {"hue": "#1900ff"
      },
      {"color": "#c0e8e8"
      }]},
      {"featureType": "road", "elementType": "geometry", "stylers": [
        {"lightness": 100},
        {"visibility": "simplified"}]},
      {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
        {
        "visibility": "off"
      }]},
      {
        "featureType": "road.local",
        "elementType": "labels.text",
        "stylers": [
        {
        "visibility": "on"
      }]},
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
        {
        "visibility": "on"
      },
      {
        "lightness": 700
      }]},
      {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
        {
        "color": "#7dcdcd"
      }]}];

    var handler = Gmaps.build('Google');
    handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn(centerlocation);
        handler.getMap().setZoom(setzoomvariable);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
      });
  <!-- JQUERY CITY CENTER -->
  $("#paris").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 48.85661400000001, lng: 2.3522219000000177});
        handler.getMap().setZoom(11);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
      });
    });
    <!-- JQUERY NANTES CENTER -->
  $("#nantes").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 47.218371, lng: -1.553621000000021});
        handler.getMap().setZoom(12);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(8);
        }
      });
    });
      <!-- JQUERY NANTES CENTER -->
  $("#lyon").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 45.764043, lng: 4.835659});
        handler.getMap().setZoom(12);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(8);
        }
      });
    });
    <!-- JQUERY MARSEILLE CENTER -->
  $("#marseille").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 43.296482, lng: 5.36978});
        handler.getMap().setZoom(12);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(8);
        }
      });
    });
      <!-- JQUERY LILLE CENTER -->
  $("#lille").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 50.62925, lng: 3.057256});
        handler.getMap().setZoom(12);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(8);
        }
      });
    });
      <!-- JQUERY BORDEAUX CENTER -->
  $("#bordeaux").on('click', function ()
    { handler.buildMap(
      {internal: { id: 'map' },
      provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
      }},
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- Center the map AND ajust zoom to see all markers -->
        handler.bounds.extendWith(markers);
       <!--  handler.fitMapToBounds(); -->
       <!-- CENTRER SUR PARIS / ILE DE FRANCE -->
        handler.map.centerOn({lat: 44.837789, lng: -0.57918});
        handler.getMap().setZoom(12);
    <!--     PARIS ={lat: 48.85661400000001, lng: 2.3522219000000177}); -->
        if (markers.length == 0) {
        handler.getMap().setZoom();
        } else if (markers.length == 1) {
        handler.getMap().setZoom(8);
        }
      });
    });
  });
<% end %>
<% end %>
</div>
