<div class="wrapper-new">
  <div class="wrapper-page-new-bloom">
    <div class="col-xs-3 new-bloomer-left">
      <div class="steps">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <!-- STEP 1 - Création -->
        <div class="nb-global-step active" data-target="#step-1-name">
          <div class="circle active" data-target="#step-1-name"></div>
          <div class="step"><p><span><i class="fa fa-user" aria-hidden="true"></i></span><br>Mon profil</p></div>
        </div>
        <!-- Step 2 - Description -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-2-description">
          <div class="circle" id="circle-2"></div>
          <div class="step"><p><span><i class="fa fa-briefcase" aria-hidden="true"></i></span><br>Startup(s)</p></div>
        </div>
        <!-- Step 3 - info pratiques -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-3-infos">
          <div class="circle" id="circle-3"></div>
          <div class="step"><p><span><i class="fa fa-bullhorn" aria-hidden="true"></i></span><br>Mes candidatures</p></div>
        </div>
        <!-- Step 4 - Medias -->
        <div class="line-box"><div class="grey-line"></div></div>
        <div class="nb-global-step" data-target="#step-4-medias">
          <div class="circle" id="circle-4"></div>
          <div class="step"><p><span><i class="fa fa-comment" aria-hidden="true"></i></span><br>Mes messages</p></div>
        </div>
      </div>
    </div>

    <div class="col-xs-9 new-bloomer-right">
      <!-- Begining of simple form -->
      <div class="sub-new-bloomer-content" id="step-1-name">
        <div class="nb-title-sub-content"><h2>Mon profil</h2></div>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <p>Email : <%= @user.email %>        </p>
      </div>
      <!-- MAIN DESCRIPTION -->
      <div class="sub-new-bloomer-content hidden" id="step-2-description">
        <div class="nb-title-sub-content" style="display:flex; flex-wrap: wrap; ">
          <h2>Mes Startups</h2>
        </div>
        <% if @startups.count == 0 %>
          <%= link_to "Je créé une startup", new_startup_path, class:"btn-postulate" %>
        <% else %>
          <% @startups.each do |startup| %>
          <div class="div-startups-card" style="height:100px">
            <div class="col-xs-12 col-sm-4" style="padding:0px">
              <% if startup.logo? %>
                <%= cl_image_tag startup.logo.path, crop: :fill, class: "avatar" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-8" style="padding:0px;text-align:left">
                <h2><%= startup.name %>
                  <%= link_to startup_path(startup.id) do %>
                    <span style="color:#FEC300">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                  <% end %>
                  </h2>
                <h3><%= startup.short_description %></h3>
                <% if startup.batches.count != 0 %>
                  <h4><% startup.batches.each do |batch| %>
                    <%= batch.name %> (programme "<%= batch.program.name %>")
                    <% end %>
                  </h4>
                <% elsif startup.batches.count == 0 %>
                  <%= link_to "Je postule à un programme", bloomers_path, class:"btn-postulate", style: 'font-size:7px;padding:5px;' %>
                <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <!-- INFO -->
      <div class="sub-new-bloomer-content hidden" id="step-3-infos">
      <div class="nb-title-sub-content">
        <h2>Mes candidatures</h2>
      </div>
      <% @candidatures.each do |candidature| %>
          <%= candidature.id %> : <%= candidature.status %>
          <%= link_to "Voir la candidature", candidature_path(candidature) %>
      <% end %>
      </div>
      <!-- SOCIAL MEDIAS -->
      <div class="sub-new-bloomer-content hidden" id="step-4-medias">
      <div class="nb-title-sub-content"><h2>Mes messages</h2></div>
        <p>Pas de messages pour l'instant</p>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
$(document).ready(function() {
  $(".nb-global-step").on("click", function(e){
    // Change active tab
    $(".nb-global-step").removeClass("active");
    $(".circle").removeClass("active");
    $(this).addClass("active");
    $(this).children().addClass("active");
    // Hide all tab-content (use class="hidden")
    $(".sub-new-bloomer-content").addClass("hidden");
    // Show target tab-content (use class="hidden")
    tabSelector = $(this).data("target");
    $(tabSelector).removeClass("hidden");
  });

  // STEP 1 TO STEP 2
  $("#nb-next-button-1").on("click", function(e){
    $(".nb-global-step").removeClass("active");
    $(".circle").removeClass("active");
    $("#circle-2").addClass("active");
    $(".sub-new-bloomer-content").addClass("hidden");
    $("#step-2-description").removeClass("hidden");
  });

  // STEP 2 TO STEP 3
  $("#nb-next-button-2").on("click", function(e){
    $(".nb-global-step").removeClass("active");
    $(".circle").removeClass("active");
    $("#circle-3").addClass("active");
    $(".sub-new-bloomer-content").addClass("hidden");
    $("#step-3-infos").removeClass("hidden");
  });

  // STEP 3 TO STEP 4
  $("#nb-next-button-3").on("click", function(e){
    $(".nb-global-step").removeClass("active");
    $(".circle").removeClass("active");
    $("#circle-4").addClass("active");
    $(".sub-new-bloomer-content").addClass("hidden");
    $("#step-4-medias").removeClass("hidden");
  });
});

  <% end %>
<% end %>

