<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= simple_form_for [@program, @batch] do |f| %>
      <%= f.input :batch_start %>
      <%= f.input :batch_end %>
      <%= f.input :name %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>


